# Compiler files
foundry/cache/
foundry/out/

# Ignores development broadcast logs
!/foundry/broadcast
/foundry/broadcast/*/31337/
/foundry/broadcast/**/dry-run/

# Docs (keep project guides)
foundry/docs/*
!foundry/docs/deploy-mytoken-sepolia.md
!foundry/docs/cast-wallet-keystore.md
!foundry/docs/mint-nft-flow.md
!foundry/docs/deploy-martin-nft-optimism.md
!foundry/docs/gas_report_v1.md
!foundry/docs/gas_report_v2.md
!foundry/docs/bridge-mytoken-l1-to-l2.md

# Dotenv file
foundry/.env
keystores
.DS_Store
